#di1{
    border:1px solid black; 
    padding:20px}
img{
    float:left; margin: 14px;
}
#di3{
    background-color: silver; 
    margin: 10px;
}

.Type3{
    position: fixed;
    top:115px;
    left:115px;
    width: 420px;
    height: 420px; 
}

.Type3:active{
    visibility: hidden;
}

.Type3:hover{
    color: tomato;
}